annotated-types
anyio
certifi
cfgv
click
distlib
fastapi
filelock
h11
httpcore
httpx
identify
idna
iniconfig
nodeenv
packaging
platformdirs
pluggy
pre_commit
pydantic
pydantic_core
pytest
PyYAML
redis
sniffio
starlette
typing_extensions
uvicorn
virtualenv
prometheus_client
